<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div th:insert="_navbar :: navbar"></div>
<div class="container mt-3">
    <table class="table table-hover mt">
        <thead>
        <tr>
            <th>Name</th>
            <th>Active</th>
            <th>Roles</th>
            <th>Ban</th>
            <th>More Information</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${allUsers}">
            <tr>
                <th th:text="${user.name}"></th>
                <th th:text="${user.active}"></th>
                <th th:text="${user.roles}"></th>
                <th>
                    <form th:action="@{/admin/ban/{id}(id=${user.id})}" method="post">
                        <div th:if="${user.active}">
                            <input class="btn btn-primary" type="submit" value="Ban">
                        </div>
                        <div th:if="!${user.active}">
                            <input class="btn btn-primary" type="submit" value="Unban">
                        </div>
                    </form>
                </th>
                <th><a th:href="@{/user/info/{id}(id=${user.id})}">Информация</a></th>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>